* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #fff;
  --footer: #0f1917;
}

html,
body {
  min-height: 100dvh;
}
section {
  padding: 1rem;
}
/* General */
body {
  line-height: 1.4;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
  /* text-align: left; */
}

nav {
  /* visibility: hidden; */
}

.nav-item {
  margin: 1rem 0;
}

header,
.description,
footer {
  background-color: var(--footer);
  color: var(--white);
}

.description {
  padding: 0.25rem 0;
}

p {
  max-width: 35ch;
  margin: 1rem auto;
}

footer {
  text-align: center;
}

i {
  font-size: 1.5rem;
}

/* Social */
.social a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

a {
  transition: color 300ms;
}

a:hover {
  color: lightblue;
  text-decoration: underline;
}

footer a,
footer span {
  display: inline-block;
  vertical-align: top;
}

/* was in desktop view */
.column > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: clamp(240px, 300px, 30%);
}

.column img {
  width: 225px;
  height: 225px;
}

/* Cards */
#card-container {
  max-width: 1000px;
  margin: 0 auto;
}

ul {
  text-align: center;
}

.card {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1em;
}

.card img {
  width: 200px;
  /* height: 200px; */
}

/* UTILITY */
.center {
  text-align: center;
}

.business-categories .card {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
  transition: scale 0.5s;
}

.card:hover {
  cursor: pointer;
  scale: 1.05;
}

/* Desktop */
@media (min-width: 900px) {
  body {
    font-size: 20px;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  P {
    max-width: 100ch;
    text-align: center;
  }

  .banner {
    display: flex;
    align-items: center;
  }

  .flex-item-text {
    max-width: 225px;
  }

  .column {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  nav {
    visibility: visible;
  }

  .nav-list {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
  }

  header,
  footer {
    min-height: 75px;
    /* font-size: 2rem; */
  }

  i {
    font-size: 2rem;
  }

  h5 {
    margin: 1.5rem 0;
  }

  footer a,
  header a {
    color: white;
  }

  .quick-item {
    text-align: left;
  }
  #category-container,
  #business-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Mobile */
@media (max-width: 900px) {
  body {
    font-size: 18px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .nav-link,
  .social-icon,
  footer a {
    color: lightblue;
  }
}
